baseURL = 'https://dkludwig.github.io/'
languageCode = 'en-us'
title = 'My Site'

[caches]
  [caches.images]
    dir = ':cacheDir/images'

[markup]
  [markup.goldmark]
    [markup.goldmark.renderer]
      unsafe = true